---
layout: default
---
<article>
  {{ content }}
</article>

<hr>

<h3>Select an Island to learn more about people who live there</h3>
<nav>
  <ul>
    <li><a href="/community.html">Community</a></li>
    <li><a href="/immersion.html">Immersion</a></li>
    <li><a href="/mission.html">Mission</a></li>
    <li><a href="/nature.html">Nature</a></li>
    <li><a href="/perspective.html">Perspective</a></li>
    <li><a href="/religion.html">Religion</a></li>
    <li><a href="/unknown.html">Unknown</a></li>
    <li><a href="/service.html">Service</a></li>
  </ul>
</nav>
